@import "bootstrap-sprockets";
@import "bootstrap";


/* Courses */

h1 {
	text-align: center;
	font-size: 70px;
}

h2 {
	font-weight: bold;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}